doctype html
html(lang=`ru`)
  include ../common/head
  body
    -
      const truncate = (str, n, useWordBoundary) => {
        if (str.length <= n) {
          return str;
        }
        const subString = str.substring(0, n - 1).trim();
        return `${(useWordBoundary
                ? subString.substring(0, (subString.lastIndexOf(``)))
                : subString)}${subString.endsWith(`.`) ? `` : `...`}`;
      };
      const getDateAndTime = str => {
        return `${new Date(str).toLocaleDateString()}, ${new Date(str).toLocaleTimeString('ru', {hour: '2-digit', minute:'2-digit'})}`
      }
      const parseSearchResult = (str, query) => {
        return str.replace(query, `<b>${query}</b>`)
      }
    mixin pagination(page, totalPages, width, prefix)
      -
        let start = page - width;
        let end = page + width;
        if (start < 1) {
          end += 1 - start;
          start = 1;
        }
        if (end > totalPages) {
          start -= end - totalPages;
          end = totalPages;
        }
        if (start < 1) {
          start = 1;
        }
        let i = start - 1

      if totalPages > 1
        include ../common/pagination


    div(class=`${plainBackground ? 'wrapper-color' : 'wrapper'}`)
      include header/header-main
      block content
      include ./footer
      script(src='/js/vendor.js')
      script(src='/js/main.js')
