ul.preview__pagination.pagination
  li
    a.pagination__button.button.button--backwards(href=`${prefix}page=${page - 1}` aria-label=`Страница назад` class={'button--disabled': page <= 1}) Назад
  while i++ < end
    li.pagination__item(class={ 'pagination__item--active': i === page })
      a(href=`${prefix}page=${i}`)= i
  li
    a.pagination__button.button.button--forward(href=`${prefix}page=${page + 1}` aria-label=`Страница вперед` class={'button--disabled': totalPages <= page}) Вперёд
