extends ../layout/layout

block content
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href="javascript:history.back()") Назад
            time.post__date(datetime=article.createdDate)= `${new Date(article.createdDate).toLocaleDateString()}`
            h2.post__title.title.title--main #{article.title}
            ul.post__themes.themes
              each category in categories
                include ../common/category-link
          if article.picture
            .post__picture
              img(src=`/img/${article.picture}` alt=`${article.title}`)
          .post__text
            p= article.fullText ?  `${article.announce} ${article.fullText}` : article.announce
      .post__wrapper.post__wrapper--comments
        section.post__comments.comments
          h2.comments__title.title.title--middle= `Комментарии ${comments.length ? `` : `отсутствуют`}`
          if comments.length
            ul.comments__list
              each comment in comments
                include ../common/comments/post-comment
          .comments__footer(class=`${user ? `comments__footer--user` : `comments__footer--visitor`}`)
            if user
              include ../common/comments/post-comment-form
            else
              include ../common/comments/post-comment-guest
