extends ../layout/layout.pug

block content
  main
    h1.visually-hidden Регистрация пользователя
    section
      .popup.popup--registration.popup--anti
        a.popup__button.button.button--popup-close(type=`button` aria-label=`Закрыть окно`) Закрыть окно
        h2.popup__title Регистрация
        .popup__form.popup__form--active.form.form--register
          form(action=`/register` method=`POST` autocomplete=`off` enctype=`multipart/form-data`)
            .form__field
              label
                input(name=`email` type=`email` placeholder=`Электронная почта` required value=(userData || {}).email)
            if errors && errors.find(error => error.path[0] === `email`)
              .form__error-message= errors.find(error => error.path[0] === `email`).message
            .form__field
              label
                input(name=`firstName` type=`text` placeholder=`Имя` required value=(userData || {}).firstName)
            if errors && errors.find(error => error.path[0] === `firstName`)
              .form__error-message= errors.find(error => error.path[0] === `firstName` ).message
            .form__field
              label
                input(name=`lastName` type=`text` placeholder=`Фамилия` required value=(userData || {}).lastName)
            if errors && errors.find(error => error.path[0] === `lastName`)
              .form__error-message= errors.find(error => error.path[0] === `lastName`).message
            .form__field
              label
                input(name=`password` type=`password` placeholder=`Пароль` required value=(userData || {}).password)
            if errors && errors.find(error => error.path[0] === `password`)
              .form__error-message= errors.find(error => error.path[0] === `password`).message
            .form__field
              label
                input(name=`repeatPassword` type=`password` placeholder=`Повтор пароля` required value=(userData || {}).repeatPassword)
            if errors && errors.find(error => error.path[0] === `repeatPassword`)
              .form__error-message= errors.find(error => error.path[0] === `repeatPassword`).message
            if errors && errors.length
              .form__validation-error
                p.form__error-message При регистрации произошли ошибки:
                ul.form__errors
                  each error in errors
                    li.form__error= error.message
            .form__image-loader
              a.form__avatar.avatar
                img(src=`img/icons/smile.svg` alt=`аватар пользователя`)
              label
                input.visually-hidden(type=`file` name=`avatar`)
                | Загрузить фото профиля
            button.form__submit-btn.form__submit-btn--register.button.button--colored(type=`submit`) Зарегистрироваться
